<div id="<%= dom_id myevent %>">
  <p>
    <strong>Name:</strong>
    <%= myevent.name %>
  </p>

  <p>
    <strong>Event date:</strong>
    <%= myevent.event_date %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= myevent.creator.email %>
  </p>
</div>
