<div id="<%= dom_id myevent %>" class="flex p-5">
  <div class="flex p-5">
    <strong>Name:</strong>
    <%= myevent.name %>
  </div>

  <div class="flex p-5">
    <strong>Event date:</strong>
    <%= myevent.event_date %>
  </div>

  <div class="flex p-5">
    <strong>Creator:</strong>
    <%= myevent.creator.email %>
  </div>
</div>
