<div class="container m-10 p-auto text-center">
    <div class="m-5">Email: <%= current_user.email%>

    <div class="m-5">Events: </div>
    <% current_user.events.each do |myevent| %>
        <%= render myevent %>
        
        <br>
        <%= link_to "Show this event", myevent, class:"bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full m-8" %>
    <% end %>


</div>